#header {
  background-color: $background-color;
  border-bottom: $border;
  z-index: 900;
}

ul#primary-nav {
  text-align: right;
  margin: 0;
  padding: 1em;
  color: $font-color;
}

ul#primary-nav li {
  padding: 0 0.5em;
  display: inline;
}

ul#primary-nav li a {
  color: $font-color;
  text-decoration: none;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

ul#primary-nav li.root {
  float: left;
  font-size: large;
}

ul#primary-nav li.secondary {
  position: relative;
}

ul#primary-nav li.secondary ul {
  visibility: hidden;
}

ul#primary-nav li.secondary:hover ul {
  visibility: visible;
}

ul#primary-nav li.secondary ul {
  position: absolute;
  left: 0;
  top: 2.3em;
  background-color: $background-color;
  border: $border;
  list-style: none;
  padding: 0;
  z-index: 900;
}

ul#primary-nav li.secondary ul li {
  white-space: nowrap;
  text-align: left;
  display: block;
  border-bottom: $border;
}

ul#primary-nav li.secondary ul li:last-child {
  border-bottom: none;
}

ul#primary-nav li.secondary ul li a {
  display: block;
  padding: 5px;
}

ul#primary-nav li.secondary ul li:hover {
  background-color: $background-color-hover;
}