/* Story types */
div.story {
  box-sizing: border-box;
  padding: 0.7em;
  background-color: $background-color;
  border-bottom: $border;

  input[type=text],
  textarea,
  select {
    width: 100%;
    box-sizing: border-box;
  }

  select {
    border: $border;
    height: 30px;
    padding: 0 0.2em;

    option {
      font-size: 13px;
    }
  }

  .story-created-at {
    font-size: 12px;
    font-style: italic;
  }

  .edit-title {
    padding: 1em 0;
    border-bottom: $border;

    & > input[type="text"] {
      padding: 0.5em;
      border: $border;
    }
  }

  .story-desc {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: $border;
  }

  .story-description {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding: 0.1em 0.7em;
  }

  .story-type {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .story-estimate {
    margin-bottom: 1em;
  }

  .story-state {
    margin-bottom: 1em;
  }

  .story-requested-by {
    margin-bottom: 1em;
  }

  .story-owned-by {
    margin-bottom: 1em;
  }

  .story-labels {
    border-bottom: $border;
    padding-bottom: 1em;
  }

  ul.tagit {
    border-radius: 0;
    margin: 0;
  }
}

div.story:hover {
  background-color: $background-color-hover;
}

.story-header {
  display: flex;
}

.story-icons {
  padding: 7px 5px 5px 5px;
  width: 60px;
  flex-shrink: 0;
  display: flex;

  .estimate {
    border: $border;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: $font-color;
    border-radius: 3px;
    line-height: 0;
    margin-left: 5px;

    & > .content {
      margin-top: 7px;
      line-height: 0;
    }
  }

  .estimate_1 {
    @include background(linear-gradient(bottom,
        #333 12.5%,
        $background-color 12.5%));
  }
  .estimate_2 {
    @include background(linear-gradient(bottom,
        #333 25%,
        $background-color 25%));
  }
  .estimate_3 {
    @include background(linear-gradient(bottom,
        #333 37.5%,
        $background-color 37.5%));
  }
  .estimate_4 {
    @include background(linear-gradient(bottom,
        #333 50%,
        $background-color 50%));
  }
  .estimate_5 {
    @include background(linear-gradient(bottom,
        #333 62.5%,
        $background-color 62.5%));
  }
  .estimate_6 {
    @include background(linear-gradient(bottom,
        #333 75%,
        $background-color 75%));
  }
  .estimate_7 {
    @include background(linear-gradient(bottom,
        #333 87.5%,
        $background-color 87.5%));
  }
  .estimate_8 {
    @include background(linear-gradient(bottom,
        #333 100%,
        $background-color 100%));
  }

  .icons-details {
    margin-left: 5px;
  }
}

.story-title {
  padding: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.state-actions {
  text-align: right;
  flex-shrink: 0;
  padding: 5px;

  & > form > input[type="button"] {
    margin: 0;
    margin: 1px;
    cursor: pointer;
    font-size: x-small;
    text-transform: uppercase;
  }
}

.unestimated div.story-title {
  font-style: italic;
}

div.story-title abbr.initials {
  font-weight: bold;
  margin-left: 0.2em;
  border: none;
}

div.story-controls {
  background-color: blue;
  display: flex;
  margin-bottom: 1em;

  input[type="button"] {
    background-color: $background-color;
    flex: 1 0 auto;
    padding: 1em 0;
    border-top: $border;
    border-bottom: $border;
    border-left: $border;
    border-right: none;
    color: $font-color;
  }

  input[type="button"]:last-child {
    border-right: $border;
  }

  input[type="button"]:hover {
    cursor: pointer;
    background-color: $background-color-hover;
  }
}

#in_progress div.story,
#backlog div.story,
#chilly_bin div.story {
  cursor: move;
}

#in_progress div.story.accepted div.story {
  cursor: inherit;
}

.story.release {
  background-color: #111;
  color: $font-color;
}
.story.release:hover {
  background-color: #222;
}

/* Story action buttons */
.state-actions form div, .state-actions form {
  display: inline;
}

.iteration {
  padding: 10px;
  border-bottom: $border;
  font-style: italic;
  background-color: $background-color;
}

.iteration .points {
  float: right;
}

