/* Story types */
div.story {
  box-sizing: border-box;
  padding: 0.7em;
  background-color: $background-color;
  border-bottom: $border;

  input[type=text],
  textarea,
  select {
    width: 100%;
    box-sizing: border-box;
  }

  select {
    border: $border;
    height: 30px;
    padding: 0 0.2em;

    option {
      font-size: 13px;
    }
  }

  .edit-title {
    padding-bottom: 1em;
    border-bottom: $border;

    .title {
      padding: 0.5em;
      border: $border;
    }
  }

  .story-desc {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: $border;
  }

  .story-description {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding: 0.1em 0.7em;
  }

  .story-type {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .story-estimate {
    margin-bottom: 1em;
  }

  .story-state {
    margin-bottom: 1em;
  }

  .story-requested-by {
    margin-bottom: 1em;
  }

  .story-owned-by {
    margin-bottom: 1em;
  }

  .story-labels {
    border-bottom: $border;
    padding-bottom: 1em;
  }

  ul.tagit {
    border-radius: 0;
    margin: 0;
  }
}

div.story:hover {
  background-color: $background-color-hover;
}

.story-header {
  display: flex;
}

.story-icons {
  padding: 7px 5px 5px 5px;
  width: 55px;
  flex-shrink: 0;

  .icons-details {
    margin-left: 3px;
  }
}

.story-title {
  padding: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.state-actions {
  text-align: right;
  flex-shrink: 0;
  padding: 5px;

  & > form > input[type="button"] {
    margin: 0;
    margin: 1px;
    cursor: pointer;
    font-size: x-small;
    text-transform: uppercase;
  }
}

.unestimated div.story-title {
  font-style: italic;
}

div.story-title abbr.initials {
  font-weight: bold;
  margin-left: 0.2em;
  border: none;
}

div.story-controls {
  background-color: blue;
  display: flex;
  margin-bottom: 1em;

  input[type="button"] {
    background-color: $background-color;
    flex: 1 0 auto;
    padding: 1em 0;
    border-top: $border;
    border-bottom: $border;
    border-left: $border;
    border-right: none;
    color: $font-color;
  }

  input[type="button"]:last-child {
    border-right: $border;
  }

  input[type="button"]:hover {
    cursor: pointer;
    background-color: $background-color-hover;
  }
}

#in_progress div.story,
#backlog div.story,
#chilly_bin div.story {
  cursor: move;
}

#in_progress div.story.accepted div.story {
  cursor: inherit;
}

span.estimate {
  padding: 0 0.2em;
  vertical-align: top;
  font-size: x-small;
  font-weight: bold;
  font-style: italic;
  color: #333;
}

span.estimate_1 {
  @include background(linear-gradient(bottom,
      $orange 12.5%,
      white 12.5%));
}
span.estimate_2 {
  @include background(linear-gradient(bottom,
      $orange 25%,
      white 25%));
}
span.estimate_3 {
  @include background(linear-gradient(bottom,
      $orange 37.5%,
      white 37.5%));
}
span.estimate_4 {
  @include background(linear-gradient(bottom,
      $orange 50%,
      white 50%));
}
span.estimate_5 {
  @include background(linear-gradient(bottom,
      $orange 62.5%,
      white 62.5%));
}
span.estimate_6 {
  @include background(linear-gradient(bottom,
      $orange 75%,
      white 75%));
}
span.estimate_7 {
  @include background(linear-gradient(bottom,
      $orange 87.5%,
      white 87.5%));
}
span.estimate_8 {
  @include background(linear-gradient(bottom,
      $orange 100%,
      white 100%));
}

.story.release {
  background-color: #111;
  color: $font-color;
}
.story.release:hover {
  background-color: #222;
}

/* Story action buttons */
.state-actions form div, .state-actions form {
  display: inline;
}

.iteration {
  padding: 10px;
  border-bottom: $border;
  font-style: italic;
  background-color: $background-color;
}

.iteration .points {
  float: right;
}

