@import 'compass/css3';
@import 'scaffold';
@import 'jquery_gritter';
@import 'jquery_tagit';
@import 'bootstrap';
@import 'icons';

@use "sass:color";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

#header {
  background-color: $background-color;
  border-bottom: $border;
  z-index: 900;
}

ul#primary-nav {
  text-align: right;
  margin: 0;
  padding: 1em;
  color: $font-color;
}

ul#primary-nav li {
  padding: 0 0.5em;
  display: inline;
}

ul#primary-nav li a {
  color: $font-color;
  text-decoration: none;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

ul#primary-nav li.root {
  float: left;
  font-size: large;
}

ul#primary-nav li.secondary {
  position: relative;
}

ul#primary-nav li.secondary ul {
  visibility: hidden;
}

ul#primary-nav li.secondary:hover ul {
  visibility: visible;
}

ul#primary-nav li.secondary ul {
  position: absolute;
  left: 0;
  top: 2.3em;
  background-color: $background-color;
  border: $border;
  list-style: none;
  padding: 0;
  z-index: 900;
}

ul#primary-nav li.secondary ul li {
  white-space: nowrap;
  text-align: left;
  display: block;
  border-bottom: $border;
}

ul#primary-nav li.secondary ul li:last-child {
  border-bottom: none;
}

ul#primary-nav li.secondary ul li a {
  display: block;
  padding: 5px;
}

ul#primary-nav li.secondary ul li:hover {
  background-color: $background-color-hover;
}

#title_bar {
  background-color: $background-color;
  border-bottom: $border;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: $font-color;
  margin: 0;
  padding: 10px 1em;

  div.velocity {
    font-size: 1.6em;
    float: right;

    div.velocity_override_container {
      width: 220px;
      position: absolute;
      right: 0;
      top: 30px;
      background: #efefef;
      border: 1px solid #ccc;
      @include border-radius(3px);
      @include single-box-shadow;
      z-index: 1;

      ul {
        margin: 10px;
        padding: 0;
        li {
          list-style-type: none;
        }
      }
    }

    #velocity_value {
      cursor: pointer;
      font-weight:bold;
    }
  }

  div.velocity.fake #velocity_value {
    color: #f00;
    font-style: italic;
  }

  #add_story {
    display: inline-block;
  }
}

#title_bar h1 {
  font-size: 2em;
  margin: 0.3em 0;
}

#main {
  position: fixed;
  top: 120px;
  right: 0;
  left: 0;
  bottom: 0;
}

#column-toggles {
  float: right;
}

#column-toggles a {
  margin: 0 0.2em;
  padding: 5px 8px;
  color: $font-color;
  background-color: $background-color;
  text-decoration: none;
  text-shadow: none;
}

#column-toggles a.pressed {
  color: $darkgrey;
  background-color: $background-color-hover;
}

.stories {
  position: relative;
  height: 100%;
  display: flex;

  .column {
    background-color: #333444;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 1px;
    border: $border;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #333;
      outline: 1px solid slategrey;
    }
  }
}

/* Story columns headers */
.column_header {
  text-align: left;
  border-bottom: $border;
  background-color: #333444;
  padding: 0.2em 0.2em 0.2em 1em;
  text-transform:capitalize;

  a.toggle-column{
    text-decoration: none;
    float: right;
    padding: 0px 5px 1px;
    cursor: pointer;

    &:hover{
      color: $aluminium-3;
    }
  }
}

/* Story types */
div.story {
  box-sizing: border-box;
  padding: 0.7em;
  background-color: $background-color;
  border-bottom: $border;

  input[type=text],
  textarea,
  select {
    width: 100%;
    box-sizing: border-box;
  }

  select {
    border: $border;
    height: 30px;
    padding: 0 0.2em;

    option {
      font-size: 13px;
    }
  }

  .edit-title {
    padding-bottom: 1em;
    border-bottom: $border;

    .title {
      padding: 0.5em;
      border: $border;
    }
  }

  .story-desc {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: $border;
  }

  .story-description {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding: 0.1em 0.7em;
  }

  .story-type {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .story-estimate {
    margin-bottom: 1em;
  }

  .story-state {
    margin-bottom: 1em;
  }

  .story-requested-by {
    margin-bottom: 1em;
  }

  .story-owned-by {
    margin-bottom: 1em;
  }

  .story-labels {
    border-bottom: $border;
    padding-bottom: 1em;
  }

  ul.tagit {
    border-radius: 0;
    margin: 0;
  }
}

div.story:hover {
  background-color: $background-color-hover;
}

div.story-icons {
  float: left;
  font-size: 0;
}

div.story-title {
  margin-left: 50px;
}

.unestimated div.story-title {
  font-style: italic;
}

div.story-title abbr.initials {
  font-weight: bold;
  margin-left: 0.2em;
  border: none;
}

div.story-controls {
  display: flex;
  margin-bottom: 1em;

  input[type="button"] {
    background-color: $background-color;
    flex: 1 0 auto;
    padding: 1em 0;
    border-top: $border;
    border-bottom: $border;
    border-left: $border;
    border-right: none;
    color: $font-color;
  }

  input[type="button"]:last-child {
    border-right: $border;;
  }

  input[type="button"]:hover {
    cursor: pointer;
    background-color: $background-color-hover;
  }
}

#in_progress div.story,
#backlog div.story,
#chilly_bin div.story {
  cursor: move;
}

#in_progress div.story.accepted div.story {
  cursor: inherit;
}

span.estimate {
  border: 1px solid #777;
  padding: 0 0.2em;
  margin: 0 2px 0 0;
  @include border-radius(3px);
  vertical-align: top;
  font-size: x-small;
  font-weight: bold;
  font-style: italic;
}

span.estimate_1 {
  @include background(linear-gradient(bottom,
      $orange 12.5%,
      white 12.5%));
}
span.estimate_2 {
  @include background(linear-gradient(bottom,
      $orange 25%,
      white 25%));
}
span.estimate_3 {
  @include background(linear-gradient(bottom,
      $orange 37.5%,
      white 37.5%));
}
span.estimate_4 {
  @include background(linear-gradient(bottom,
      $orange 50%,
      white 50%));
}
span.estimate_5 {
  @include background(linear-gradient(bottom,
      $orange 62.5%,
      white 62.5%));
}
span.estimate_6 {
  @include background(linear-gradient(bottom,
      $orange 75%,
      white 75%));
}
span.estimate_7 {
  @include background(linear-gradient(bottom,
      $orange 87.5%,
      white 87.5%));
}
span.estimate_8 {
  @include background(linear-gradient(bottom,
      $orange 100%,
      white 100%));
}

.story.release {
  background-color: #111;
  color: $font-color;
}
.story.release:hover {
  background-color: #222;
}

/* Story action buttons */
.state-actions {
  float: right;
  margin-left: 0.2em;
}

.state-actions form div, .state-actions form {
  display: inline;
}

.iteration {
  padding: 10px;
  border-bottom: $border;
  font-style: italic;
  background-color: $background-color;
}

.iteration .points {
  float: right;
}

.state-actions input {
  margin: 0;
  cursor: pointer;
  font-size: x-small;
  text-transform: uppercase;
}


table#import tr.valid, .notice {
  color: white;
  background-color: $chameleon-3;
}
table#import tr.invalid, .alert {
  color: white;
  background-color: $scarlet-red-2;
}

ul#projects {
  list-style: none;
  width: 50%;
  padding-left: 0;
}

ul#projects li {
  margin: 10px 0;
  padding: 10px;
  border: $border;
}

ul#projects li h2 {
  display: inline;
}

div.project_options {
  float: right;
}

a.button {
  padding: 5px;
  text-decoration: none;
  border: $border;
}

input[type=button], input[type=submit] {
  background-color: $background-color;
  color: $font-color;
  border: $border;
  padding: 5px 10px;
  cursor: pointer;
}

.tags{
  color:$sky-blue-3;
  font-size:84%;
}

// Popover Overrides
// Custom Style Overrides
.popover{
  p{
    margin-top:0px;
  }
  .title{
    margin:0px;
  }
  .inner{
    padding:2px ;
  }
  .content{
    padding: 10px 0px 14px;
  }
  .small{
    color:$aluminium-3;
    font-size:0.85em;
    padding-left:15px;
    margin: 0 10px 10px 0;
    .icons{
      float:right;
      .text{
        vertical-align:top;
      }
    }
  }
  .description{
    padding:10px 15px 0px;
  }
}
.ui-widget{
  font-size:0.9em;
}

// Notes
div.note {
  background-color: white;
  margin: 0.3em 0.3em 0.6em;
  border-left: 4px solid $aluminium-3;

  p {
    padding: 0.3em;
  }

  div.note_meta {
    color: $aluminium-4;
    font-style: italic;
    font-size: x-small;
    text-align: right;
  }
}
.popover div.note {
 a.delete-note {
    display: none;
  }
}

.note_form {
  // The submit button while the server is saving the note.
  input.saving {
    padding-left: 16px;
    background-image: url('throbber.gif');
    background-repeat: no-repeat;
    background-position: left center;
  }
}

#messages .flash-alert {
  background: $butter-1;
  border: 1px solid $butter-3*0.75;
  color: $butter-3*0.5;
  padding: 1em;
  margin-bottom: 10px;
}

#messages .flash-notice {
  background: $chameleon-1;
  border: 1px solid $chameleon-3*0.75;
  color: $chameleon-3*0.5;
  padding: 1em;
  margin-bottom: 10px;
}

#messages .flash-error {
  background: $scarlet-red-1;
  border: 1px solid $scarlet-red-3*0.75;
  color: rgba(255, 255, 255, 0.85);
  padding: 1em;
  margin-bottom: 10px;
}

#messages .close {
  padding-right: 5px;
  float: right;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

/* Form Styles */
.form-wrapper  {
  padding: 10px;

  h3 {
    margin-left: 160px;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  select
  textarea {
    background-color: $background-color;
  }

  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  select:focus,
  textarea:focus {
    outline: 0;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  select {
    display: inline-block;
    width: 210px;
    height: 14px;
    padding: 4px;
    font-size: 14px;
    color: $font-color;
    border: $border;
  }

  select {
    height: 26px;
    min-width: 220px;
    width: auto;
    margin: auto;
    background-color: $background-color;
  }

  div.field-wrapper label {
    width: 150px;
    text-align: right;
    display: block;
    zoom: 1;
    height: 14px;
    float: left;
  }

  div.field-wrapper:before, div.field-wrapper:after {
    display: table;
    content: "";
    zoom: 1;
  }

  div.field-wrapper:after {
    clear: both;
  }

  div.field {
    margin-left: 160px;
  }

  div.date-wrapper select {
    min-width: 0px;
    width: auto;
  }

  div.field-wrapper div.help {
    color: $darkgrey;
    margin-left: 160px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.85em;
    font-style: italic;
  }

  div.actions, div.secondary-actions {
    padding-left: 160px;
  }

  div.secondary-actions a {
    display: block;
  }
}

div.loading_screen {
  position: absolute;
  top:-10px;
  left:-10px;
  z-index: 1000;
  background: #ccc;
  @include opacity(0.7);
  width: 110%;
  height: 110%;
}

div.spinner {
  margin: 15% 45%;
  span{
    padding:50px;
  }
}

div#keycut-help {
  top: 1em; left: 1em;
  position: absolute; opacity:0.8;
  background:black; color:yellow;
  @include border-radius(5px);

  a.close {
    color:yellow; text-align:right; display:block; margin:1em;
  }
  h4 { margin:0.8em; }
  p {
    margin:0.33em 1em; text-align:right; font-size:0.9em;
    span {
      display:inline-block; color:white; margin-right:0.8em; float:left;
    }
  }
}
