@import 'compass/css3';
@import 'scaffold';
@import 'jquery_gritter';
@import 'jquery_tagit';
@import 'bootstrap';
@import 'icons';

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #333;
    outline: 1px solid slategrey;
  }
}

a img {
  border: 0;
}

#title_bar {
  background-color: $background-color;
  border-bottom: $border;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: $font-color;
  margin: 0;
  padding: 10px 1em;

  div.velocity {
    font-size: 1.6em;
    float: right;

    div.velocity_override_container {
      width: 220px;
      position: absolute;
      right: 0;
      top: 30px;
      background: #efefef;
      border: 1px solid #ccc;
      @include border-radius(3px);
      @include single-box-shadow;
      z-index: 1;

      ul {
        margin: 10px;
        padding: 0;
        li {
          list-style-type: none;
        }
      }
    }

    #velocity_value {
      cursor: pointer;
      font-weight:bold;
    }
  }

  div.velocity.fake #velocity_value {
    color: #f00;
    font-style: italic;
  }

  #add_story {
    display: inline-block;
  }
}

#title_bar h1 {
  font-size: 2em;
  margin: 0.3em 0;
}

#main {
  position: fixed;
  top: 120px;
  right: 0;
  left: 0;
  bottom: 0;
}

#column-toggles {
  float: right;
}

#column-toggles a {
  margin: 0 0.2em;
  padding: 5px 8px;
  color: $font-color;
  background-color: $background-color;
  text-decoration: none;
  text-shadow: none;
}

#column-toggles a.pressed {
  color: $darkgrey;
  background-color: $background-color-hover;
}

.stories {
  position: relative;
  height: 100%;
  display: flex;

  .column {
    background-color: $background-color;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 1px;
    border: $border;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}

/* Story columns headers */
.column_header {
  text-align: left;
  border-bottom: $border;
  background-color: $header-color;
  padding: 0.2em 0.2em 0.2em 1em;
  text-transform:capitalize;

  a.toggle-column{
    text-decoration: none;
    float: right;
    padding: 0px 5px 1px;
    cursor: pointer;

    &:hover{
      color: $aluminium-3;
    }
  }
}

table#import tr.valid, .notice {
  color: white;
  background-color: $chameleon-3;
}
table#import tr.invalid, .alert {
  color: white;
  background-color: $scarlet-red-2;
}

ul#projects {
  list-style: none;
  width: 50%;
  padding-left: 0;
}

ul#projects li {
  margin: 10px 0;
  padding: 10px;
  border: $border;
}

ul#projects li h2 {
  display: inline;
}

div.project_options {
  float: right;
}

a.button {
  padding: 5px;
  text-decoration: none;
  border: $border;
}

input[type=button], input[type=submit] {
  background-color: $background-color;
  color: $font-color;
  border: $border;
  padding: 5px 10px;
  cursor: pointer;
}

.tags{
  color:$sky-blue-3;
  font-size:84%;
}

.popover{
  background-color: $background-color;
  color: $font-color;
  border: 1px solid #333;
  border-radius: 0;
  max-width: 320px;

  &.right > .arrow:after {
    border-right-color: #333;
  }

  .popover-title{
    background-color: $header-color;
    border-bottom: $border;
    border-radius: 0;
  }

  .popover-content {
    & > .header {
      padding-bottom: 10px;
      border-bottom: $border;
    }

    & > div > .icons > .text {
      text-transform: capitalize;
    }

    & > .title {
      margin: 0;
      margin-top: 10px;
    }

    & > .description {
      margin-top: 5px;
      padding-bottom: 10px;
      border-bottom: $border;

      & > p {
        margin: 0;
      }
    }
  }


}
.ui-widget{
  font-size:0.9em;
}

#messages .flash-alert {
  background: $butter-1;
  border: 1px solid $butter-3*0.75;
  color: $butter-3*0.5;
  padding: 1em;
  margin-bottom: 10px;
}

#messages .flash-notice {
  background: $chameleon-1;
  border: 1px solid $chameleon-3*0.75;
  color: $chameleon-3*0.5;
  padding: 1em;
  margin-bottom: 10px;
}

#messages .flash-error {
  background: $scarlet-red-1;
  border: 1px solid $scarlet-red-3*0.75;
  color: rgba(255, 255, 255, 0.85);
  padding: 1em;
  margin-bottom: 10px;
}

#messages .close {
  padding-right: 5px;
  float: right;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

/* Form Styles */
.form-wrapper  {
  padding: 10px;

  h3 {
    margin-left: 160px;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  select
  textarea {
    background-color: $background-color;
  }

  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  select:focus,
  textarea:focus {
    outline: 0;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  select {
    display: inline-block;
    width: 210px;
    height: 14px;
    padding: 4px;
    font-size: 14px;
    color: $font-color;
    border: $border;
  }

  select {
    height: 26px;
    min-width: 220px;
    width: auto;
    margin: auto;
    background-color: $background-color;
  }

  div.field-wrapper label {
    width: 150px;
    text-align: right;
    display: block;
    zoom: 1;
    height: 14px;
    float: left;
  }

  div.field-wrapper:before, div.field-wrapper:after {
    display: table;
    content: "";
    zoom: 1;
  }

  div.field-wrapper:after {
    clear: both;
  }

  div.field {
    margin-left: 160px;
  }

  div.date-wrapper select {
    min-width: 0px;
    width: auto;
  }

  div.field-wrapper div.help {
    color: $darkgrey;
    margin-left: 160px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.85em;
    font-style: italic;
  }

  div.actions, div.secondary-actions {
    padding-left: 160px;
  }

  div.secondary-actions a {
    display: block;
  }
}

div.loading_screen {
  position: absolute;
  top:-10px;
  left:-10px;
  z-index: 1000;
  background: #ccc;
  @include opacity(0.7);
  width: 110%;
  height: 110%;
}

div.spinner {
  margin: 15% 45%;
  span{
    padding:50px;
  }
}

div#keycut-help {
  top: 1em; left: 1em;
  position: absolute; opacity:0.8;
  background:black; color:yellow;
  @include border-radius(5px);

  a.close {
    color:yellow; text-align:right; display:block; margin:1em;
  }
  h4 { margin:0.8em; }
  p {
    margin:0.33em 1em; text-align:right; font-size:0.9em;
    span {
      display:inline-block; color:white; margin-right:0.8em; float:left;
    }
  }
}
